<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Sitecore.Computer.Vision.CroppingImageField.AICroppingField.ThumbnailsFolderId" value="{C3EC5BF1-2182-40AB-AEE7-B2AE3C292620}" />
      <setting name="Sitecore.Computer.Vision.CroppingImageField.AICroppingField.CognitiveServices.ApiKey" value="{YOUR_APP_KEY}" />
      <setting name="Sitecore.Computer.Vision.CroppingImageField.AICroppingField.CognitiveServices.ApiUrl" value="https://{YOUR_AZURE_SERVICE_URL}.cognitiveservices.azure.com/vision/v2.0/" />
      <setting name="Sitecore.Computer.Vision.CroppingImageField.AICroppingField.CognitiveServices.ApiZone" value="{YOUR_ZONE}" />
      <setting name="Sitecore.Computer.Vision.CroppingImageField.AICroppingField.CognitiveServices.Analyze.Parameters" value="visualFeatures=Brands,Categories,Description,Faces,Objects,Tags" />
      <setting name="Sitecore.Computer.Vision.CroppingImageField.AICroppingField.CognitiveServices.CacheSize" value="100MB" />
      <setting name="Media.RequestExtension">
        <patch:attribute name="value"></patch:attribute>
      </setting>
    </settings>
    <fieldTypes>
      <fieldType name="AICroppedImage" type="Sitecore.Computer.Vision.CroppingImageField.Fields.AICroppedImageField, Sitecore.Computer.Vision.CroppingImageField" />
    </fieldTypes>
    <mediaLibrary>
      <mediaPrefixes>
        <prefix value="-/media"/>
      </mediaPrefixes>
      <requestProtection>
        <customMediaQueryParameters>
          <parameter description="Smart cropping through Azure Computer Vision" name="smartCropping"/>
        </customMediaQueryParameters>
      </requestProtection>
      <requestParser type="Sitecore.Resources.Media.MediaRequest, Sitecore.Kernel">
        <patch:attribute name="type">Sitecore.Computer.Vision.CroppingImageField.Requests.AICroppingMediaRequest, Sitecore.Computer.Vision.CroppingImageField</patch:attribute>
      </requestParser>
    </mediaLibrary>
    <pipelines>
      <getMediaStream>
        <processor type="Sitecore.Computer.Vision.CroppingImageField.Processors.AICroppingProcessor, Sitecore.Computer.Vision.CroppingImageField"
                   patch:instead="*[@type='Sitecore.Resources.Media.ThumbnailProcessor, Sitecore.Kernel']" />
      </getMediaStream>
      <renderField>
        <processor patch:after="processor[@type='Sitecore.Pipelines.RenderField.GetImageFieldValue, Sitecore.Kernel']"
                   type="Sitecore.Computer.Vision.CroppingImageField.Pipelines.RenderAICroppingImageField, Sitecore.Computer.Vision.CroppingImageField">
        </processor>
      </renderField>
    </pipelines>
    <services>
      <configurator type="Sitecore.Computer.Vision.CroppingImageField.DI.RegisterContainer, Sitecore.Computer.Vision.CroppingImageField" />
    </services>
    <events>
      <event name="publish:end:remote">
        <handler type="Sitecore.Computer.Vision.CroppingImageField.Caching.CacheManager, Sitecore.Computer.Vision.CroppingImageField" method="ClearCache" />
      </event>
      <event name="customCache:rebuild:remote">
        <handler type="Sitecore.Computer.Vision.CroppingImageField.Caching.CacheManager, Sitecore.Computer.Vision.CroppingImageField" method="ClearCache" />
      </event>
    </events>
  </sitecore>
</configuration>
