<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Sitecore.Computer.Vision.CroppingImageField" description="CroppingImageField definition items" dependencies="" >
          <targetDataStore physicalRootPath="$(sourceFolder)\foundation\Sitecore.Computer.Vision.CroppingImageField\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Sitecore.Computer.Vision.CroppingImageField.AICroppedImage" database="core" path="/sitecore/system/Field types/Simple Types/AI Cropped Image" />
            <include name="Sitecore.Computer.Vision.CroppingImageField.Templates" database="master" path="/sitecore/templates/Foundation/Vision" />
            <include name="Sitecore.Computer.Vision.CroppingImageField.Settings" database="master" path="/sitecore/system/Settings/Foundation/Vision" />
          </predicate>
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
